<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BlazorApp</title>
    <link href="bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="css/app.css" rel="stylesheet" />
    <script src="bootstrap/bootstrap.bundle.min.js"></script>
</head>
<body>
    <app></app>

    <script src="_framework/blazor.webassembly.js"></script>
</body>
</html>


@page "/"
@using Microsoft.AspNetCore.Components

<PageTitle>Home</PageTitle>


<h1>Consulting solutions, Grupo 2, APLSI</h1>


<div class="col-sm-12 ibox-content">
    <div style="font-size:25px">Bienvenidos</div>
</div>




@* <table class="table">
    <thead>
    <tr>
    <th>Date</th>
    <th>Temp. (C)</th>
    <th>Temp. (F)</th>
    <th>Summary</th>
    </tr>
    </thead>
    <tbody>


    <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    </tr>

    </tbody>
    </table> *@
